.header {
  --height: 12rem;
  --height-wrapper: 4.4rem;
  --padding-top: 6rem;
  padding: var(--padding-top) 0
    calc((var(--height) / 2) - var(--height-wrapper));

  @media screen and (max-width: '550px') {
    --padding-top: 2rem;
  }
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--height-wrapper);

  .nav {
    display: flex;
    align-items: center;
    &__link {
      + .nav__link {
        margin-left: 2.6rem;
      }
      &.active {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 1rem;
      }
    }
  }
  .btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    cursor: pointer;
    border: 1px transparent solid;
    border-radius: 1rem;
    transition: all 200ms linear;

    .nav__title {
      color: rgba(255, 255, 255, 0.7);
      margin-left: 1rem;
      transition: transform 100ms linear;
      will-change: transform;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.2);
      .nav__title {
        color: white;
        transform: translateY(-2px);
      }
    }
    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }
  .hamburger {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    .nav__link {
      &:nth-child(4) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 900px) {
    .nav__link {
      &:nth-child(3) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .nav__link {
      &:nth-child(2) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 550px) {
    .nav {
      display: none;
    }
    .hamburger {
      position: relative;
      background-color: black;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      display: grid;
      place-items: center;
    }
  }
}
.overlay {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px) saturate(100%);
  justify-content: center;
  align-items: center;
  z-index: 100;
}
