.meet-instructor__bottom {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
}
.meet-instructor__top {
  text-align: center;
  margin: 4rem auto;
  max-width: 50rem;
}
