.design-code__wrapper {
  position: relative;
  margin-bottom: 35rem;
  width: max-content;
  @media (min-width: 500px) {
    margin-bottom: 20rem;
  }
}
.design-code__left {
  width: 36rem;

  .wrapper-code__left {
    max-width: 30rem;
  }
  .content {
    margin-left: 2rem;
    .text-caption {
      font-size: 15px;
    }
    .text-small {
      font-size: 13px;
    }
  }

  .design-code__purchase {
    font-size: 13px;
  }
}

.design-code__right {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  .mockup-wrapper {
    position: relative;
    height: 100%;
  }
  img {
    position: absolute;
    border-radius: 5px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset;
    background: rgba(23, 12, 61, 0.2);
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(3deg)
      translate(-10px, -10px) skewX(-5deg);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

    &:nth-child(1) {
      top: -40px;
      left: 0;
      background: radial-gradient(
        218.51% 281.09% at 100% 100%,
        rgba(253, 63, 51, 0.6) 0%,
        rgba(76, 0, 200, 0.6) 45.83%,
        rgba(76, 0, 200, 0.6) 100%
      );
      transform: rotateX(20deg) rotateY(-10deg) rotateZ(3deg)
        translate(4.5rem, 40px) skewX(-5deg);
    }
    &:nth-child(2) {
      top: -40px;
      left: 240px;
      transform: rotateX(20deg) rotateY(-10deg) rotateZ(3deg) translateY(40px)
        skewX(-5deg);
    }
    &:nth-child(3) {
      top: 60px;
      left: 60px;
    }
    &:nth-child(4) {
      bottom: -100px;
      left: 0;
      transform: translate(100px, -100px) rotateX(20deg) rotateY(-10deg)
        rotateZ(3deg) skewX(-5deg);
    }
    &:nth-child(5) {
      z-index: 10;
      bottom: -100px;
      left: 45rem;
      transform: rotateX(20deg) rotateY(-10deg) rotateZ(3deg)
        translate(-40px, -40px) skewX(-5deg);
    }
  }

  &:hover {
    img {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px);
    }
  }

  @media (max-width: 900px) {
    left: 80%;
    transform: scale(0.8);
  }
  @media (max-width: 500px) {
    top: 100%;
    left: 0;
    transform: scale(0.4) translateY(-50%);
  }
}

.design-code__title {
  font-size: 5.8rem;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(rgb(115, 0, 64) 0%, rgb(48, 28, 190) 100%);
  -webkit-background-clip: text;
  background-clip: text;

  .wrapper-span {
    display: inline-flex;
    span {
      -webkit-text-fill-color: transparent;
      background: linear-gradient(
        rgb(255, 215, 255) 0%,
        rgb(255, 182, 255) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      animation-name: TextAnimation;
      animation-duration: 6s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;

      &:nth-child(1) {
        animation-delay: 0.1s;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.3s;
      }
      &:nth-child(4) {
        animation-delay: 0.4s;
      }
      &:nth-child(5) {
        animation-delay: 0.5s;
      }
    }
  }
}
.design-code__text {
  color: black;
}
.btn {
  padding: 12px;
  width: 28rem;
  height: 77px;
  border-radius: 20px;
  border: none;
  margin: 2rem 0;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(96, 116, 220) 100%);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset,
    rgb(23 0 102 / 20%) 0px 20px 40px, rgb(0 0 0 / 10%) 0px 1px 3px;

  cursor: pointer;
  transition: all 0.1s ease;

  .btn-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    .wrapper-img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        200.44deg,
        rgb(67, 22, 219) 13.57%,
        rgb(144, 118, 231) 98.38%
      );
      border-radius: 50%;
      width: 45px;
      height: 45px;
      box-shadow: rgb(182 153 255 / 30%) 0px 10px 20px;
      transition: all 0.3s ease;

      img {
        display: inline-block;
        transition: all 0.3s ease;
        &:nth-child(2) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset,
      rgb(23 0 102 / 30%) 0px 40px 80px, rgb(0 0 0 / 30%) 0px 10px 30px;
    .wrapper-img {
      background: linear-gradient(
        200.44deg,
        rgb(94, 23, 255) 13.57%,
        rgb(55, 180, 233) 98.38%
      );
      box-shadow: rgb(182 153 255 / 30%) 0px 10px 20px,
        rgb(0 0 0 / 30%) 0px 0px 20px inset;
      img {
        transform: scale(1.1);
        &:nth-child(2) {
          transform: translate(-51%, -50%) scale(1.2) rotate(20deg);
        }
      }
    }
  }
}

@keyframes TextAnimation {
  50% {
    opacity: 1;
    transform: scale(1) translateY(0px) skewX(0deg) skewY(0deg) rotateZ(0deg);
    filter: blur(0px);
  }
  60% {
    opacity: 0;
    transform: scale(2) translateX(100px) skewX(10deg) skewY(10deg)
      rotateZ(30deg);
    filter: blur(10px);
  }
  70% {
    opacity: 0;
    transform: scale(2) translateY(-100px) skewX(10deg) skewY(10deg)
      rotateZ(30deg);
    filter: blur(10px);
  }
  80% {
    opacity: 1;
    transform: scale(1) translateY(0px) skewX(0deg) skewY(0deg) rotateZ(0deg);
    filter: blur(0px);
  }
}
