.course-icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  .course-icon__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}
.course__bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  .course__title {
    color: white;
    font-size: 2.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    margin: 1rem 0;
  }
  .course__desc {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
}
.course-img {
  display: block;
  width: 100%;
}
