.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  min-width: 200px;
  background: linear-gradient(
    209.21deg,
    rgb(62, 59, 228) 13.57%,
    rgb(173, 0, 187) 98.38%
  );
  transition: all 0.2s ease-in;
  cursor: pointer;
  &.hover:hover {
    box-shadow: rgb(173 0 187 / 30%) 0px 20px 80px,
      rgb(0 0 0 / 15%) 0px 20px 40px;
    transform: scale(105%);
  }
}
