.certificate {
  --width-line: 60px;
  --op-line: 0.3;
  --height-line: 3px;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;

  width: 335px;
  height: 220px;
  border-radius: 30px;
  padding: 20px;

  box-shadow: rgb(39 77 153 / 20%) 0px 30px 60px,
    rgb(255 255 255 / 30%) 0px 0px 0px 0.5px inset;
  cursor: pointer;

  backdrop-filter: blur(40px);
  transition: all 0.2s linear;
  &-1 {
    z-index: 4;
  }
  &-2 {
    z-index: 3;
    top: 20px;
    left: 170px;
  }
  &-3 {
    z-index: 2;
    top: 30px;
    left: 220px;
  }
  &-4 {
    z-index: 1;
    top: 40px;
    left: 250px;
  }
  .certificate-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .certificate-left-bottom {
      .line {
        background-color: rgba(white, var(--op-line));
        width: var(--width-line);
        border-radius: 999px;
        height: var(--height-line);

        + .line {
          margin-top: 5px;
        }
      }
      .line-2 {
        --width-line: 80px;
      }
      .line-3 {
        --width-line: 70px;
      }
      .line-4 {
        --width-line: 100px;
        --op-line: 0.5;
        --height-line: 5px;
      }
    }
  }
}
