.footer {
  position: relative;
  background: linear-gradient(rgba(19, 12, 62, 0.8) 0%, rgb(30, 19, 87) 28%);
  padding-top: 25rem;
  padding-bottom: 25rem;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 66rem;
    margin: 0 auto;
    flex-direction: column;
    gap: 40px;
  }
  .footer__left {
    flex-shrink: 0;
    max-width: 340px;
    .footer-left__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .col {
        display: grid;
        row-gap: 20px;
        max-width: 160px;
        grid-template-rows: repeat(5, 44px);
      }
    }
  }
  .footer__right {
    text-align: center;
    p:nth-child(2n) {
      margin: 30px 0;
    }
  }

  @media screen and(min-width:600px) {
    &__wrapper {
      flex-direction: row;
      .footer__right {
        text-align: left;
      }
    }
  }
}
